{% extends 'base.html' %}
{% block header %}
   
{% endblock %}

{% block content %}
<table border = "1">
    <tr>
        <th>Username</th>
        <th>ID</th>
        <th>Num files</th>
        <th>Num Clips</th>
        <th>Num links</th>
    </tr>
    {% for item in data %}
    <tr> 
        
        <td>{{item.name}}</td>
        <td>{{item.id}}</td>
        <td>{{item.numfiles}}</td>
        <td>{{item.numclips}}</td>
        <td>{{item.numlinks}}</td>
               
    </tr>
    {% endfor %} 

</table>
{% endblock %}
