{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-sm">
    <caption>Users</caption>
    <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>ID</th>
            <th>File saves</th>
            <th>Clipboards</th>
            <th>Websites</th>
            <th>History</th>
        </tr>
    </thead>
    {% for item in data %}
    <tr> 
        <td> {{item.name}}  </td>
        <td>{{item.id}}</td>
        <td><a href="/dashboard/files/{{item.name}}"> {{item.numfiles}}</a> </td>
        <td><a href="/dashboard/clipboards/{{item.name}}"> {{item.numclips}}</a> </td>
        <td><a href="/dashboard/websites/{{item.name}}">{{item.numlinks}}</a></td>
        <td><a href="/dashboard/history/{{item.name}}"> History </a> </td>
               
    </tr>
    {% endfor %} 

</table>
{% endblock %}
