{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-sm">
    <caption>Users</caption>
    <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>ID</th>
            <th>Num files</th>
            <th>Num Clips</th>
            <th>Num links</th>
        </tr>
    </thead>
    {% for item in data %}
    <tr> 
        <td> <a href="/dashboard/history/{{item.name}}"> {{item.name}} </a> </td>
        <td>{{item.id}}</td>
        <td>{{item.numfiles}}</td>
        <td>{{item.numclips}}</td>
        <td>{{item.numlinks}}</td>
               
    </tr>
    {% endfor %} 

</table>
{% endblock %}
