<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{{user_id}}
{% comment %} <table border = "1">
    <tr>
        <th>Username</th>
        <th>Num files</th>
        <th>Num Clips</th>
        <th>Num links</th>
    </tr>
    {% for item in data %}
    <tr> 
        
        <td>{{item.name}}</td>
        <td>{{item.numfiles}}</td>
        <td>{{item.numclips}}</td>
        <td>{{item.numlinks}}</td>
               
    </tr>
    {% endfor %} 

</table> {% endcomment %}
</body>
</html>
