{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
<table class= "table table-bordered table-sm">
    <caption>History of Events</caption>
    <thead class="thead-dark">
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Info</th>
        </tr>
    </thead>
    {% for event in data %}
    <tr> 
         
        <td>{{event.time}}</td>
        <td>{{event.type}}</td>
        <td>{{event.info}}</td>
               
    </tr>
    {% endfor %} 

</table>
{% endblock %}
